/* ============ Primary Styles ================*/

body {
	font-family: 'Nunito', sans-serif;
	line-height: 1.5;
    margin: 0;
    background-color: DarkSeaGreen;
    color: #efefef;
}

a {
    text-decoration:none;
    color:coral;
}

/* Overwrite the link coloring for inner table links */
td a {
    color:#efefef;
}
/* Sticky Footer  */

.site {
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.site-main{
    flex:1;
}

 
div {
    width:80%;
    padding-top:30px;
    margin:auto;
    padding-bottom:15px;
}
/* Header adjustments */

header {
    width:100%;
    background-color:black;
}

header div {
    display:flex;
    flex-direction:column;
}

.header {
    width:auto;
    text-align:center;
    font-family:'Montserrat';
}
h2 {
    text-align: center;
    margin:auto;
    width:100%;
}
.head-nav {
    margin-top:3px;
    width:100%;   
}
ul.head-nav {
    display:flex;
    flex-direction:column;
    list-style:none;
    padding-left:0; 
};
.head-nav li  {
        text-align:center;
    }

table {
    table-layout: fixed; 
    width: 100%;
    border-collapse :collapse; 
    border : 3px solid white;

}
table tr:nth-child(odd) {
    background-color: #72966F;
}

th, td {
    padding: 15px;
}

.hiddenRow {
    display:none;
}

footer {
    background-color:black;
    width:100%;
}
footer div {
    padding:0px;
    text-align:center;
}

/* Media Querys */

@media only screen and (min-width: 480px) {
    .hiddenRow {
        display:block;
    }
    header div {
    flex-direction:row;
    }
    ul.head-nav {
        display:flex;
        justify-content:space-evenly;
        list-style:none; 
    }

    .head-nav li {
        padding: 5px;
    }
    .title {
        flex: 3 1 auto
    }

}

@media only screen and (min-width: 768px) {
    .hiddenRow {
        display:block;
    }
    ul.head-nav {
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        list-style:none;
         
    }
    .title {
        text-align:left;
    }
    .site-main {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    #about, #score {
        width:40%;
    }
    #movie {
        width:90%;
    }
}